:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
}
h1, h2, h3, h4,p{
    margin: 0;
    padding: 0;
}
body{
    width: auto;
    height: 100vh;
    background-color: var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    border-radius: 10px;
    width: 50%;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--color-gray-950, #111);
    box-shadow: 8px 8px 0px 0px #000;
}
.card img{
    width: 100%;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    padding-block: 24px;
    
}
h4.category{
    padding: 4px 12px;
    background-color: var(--Yellow);
    border-radius: 5px;
    color: var(--Gray950);

}
.pub-date{
    color: var(--Gray950);
}
.title{
    color: var(--Gray950);
    align-self: stretch;
}
.description{
    color: var(--Gray500);
    align-self: stretch;
}
.author{
    display: flex;
    align-items: center;
    gap: 12px;
}
.userpic{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: url("./assets/images/image-avatar.webp") lightgray 50% / cover no-repeat;    
}
.authorname{
    color: var(--Gray950);
}
.text-preset-1{
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
}
.text-preset-2{
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
}
.text-preset-3{
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
}
.text-preset-3-bold{
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
}